---
import Blog from '../components/Blog.astro';
import Hero from '../components/Hero.astro';
import Portfolio from '../components/Portfolio.astro';
import Skills from '../components/Skills.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="edcilo.com">
	<main>
		<Hero />

		<Blog />

		<Skills />

		<Portfolio />
	</main>
</Layout>

<style>
</style>
