---
import DarkMode from './DarkMode.astro';
import InlineNav from './InlineNav.astro';
import Logo from './Logo.astro';

const siteNav = [
    {
        label: 'Blog',
        url: '/#blog'
    },
    {
        label: 'Habilidades',
        url: '/#skills'
    },
    {
        label: 'Porfolio',
        url: '/#portfolio'
    },
]
const socialNav = [
    {
        icon: 'github',
        label: '',
        url: 'https://github.com/edcilo'
    },
    {
        icon: 'linkedin',
        label: '',
        url: 'https://linkedin.com/in/edcilo'
    },
    {
        icon: 'x',
        label: '',
        url: 'https://x.com/edcilo'
    },
]
---

<header class="header">
    <div class="title">
        <a href="/" aria-label="edcilo.com logo">
            <Logo />
            <span>edcilo.com</span>
        </a>
    </div>

    <div class="nav">
        <InlineNav items={siteNav} />
    </div>

    <div class="tools">
        <InlineNav items={socialNav} />

        <DarkMode />
    </div>
</header>

<style>
    .header {
        @apply sticky z-30 top-0;
        @apply flex justify-between flex-row;
        @apply p-3 border-b bg-white/80 backdrop-blur-sm backdrop-saturate-200;
        @apply dark:border-zinc-700 dark:bg-zinc-950/80;
        @apply md:justify-between md:flex-row;

        .title {
            @apply mx-2;

            span {
                @apply absolute size-0 m-0 p-0 overflow-hidden border-0;
            }
        }

        .nav {
            @apply hidden;
            @apply md:flex items-center;
        }

        .tools {
            @apply flex items-center;
        }
    }
</style>