---
import Badge from "./Badge.astro";
import ELogo from "./ELogo.astro";

const me = {
    name: "Eduardo Cifuentes López",
    title: "Fullstack Developer",
    description: "Apasionado por aprender y experimentar.",
    expierence: 12,
}

---

<section class="hero">
    <div class="container">
        <div class="e">
            <ELogo />
        </div>

        <div class="jumbotron">
            <Badge type="success">{me.title}</Badge>
            <h1>{me.name}</h1>
            <p class="resume">{me.description}</p>
            <ul class="skills">
                <li>
                    <span>{me.expierence}</span>
                    Años de <br /> experiencia
                </li>
            </ul>
        </div>

        <div class="cucu">
            <img src="/assets/cat.svg" width="550" height="550" alt="cucu cat" />
        </div>
    </div>
</section>

<style>
.hero {;
    @apply overflow-hidden flex justify-center;

    .container {
        @apply relative flex items-center justify-center md:justify-between;
        @apply py-8 px-4 max-w-screen-xl;

        .jumbotron {
            @apply relative z-0 w-2/3 text-center;
            @apply md:w-1/2 md:text-left;

            h1 {
                font-family: var(--font-mono);
                @apply mt-3 mb-4 text-2xl font-medium tracking-tight leading-none text-gray-900;
                @apply md:text-3xl lg:text-4xl;
                @apply dark:!text-slate-100;
            }

            .resume {
                @apply mb-8 text-lg font-normal text-gray-500 text-pretty;
                @apply lg:text-xl;
                @apply dark:!text-gray-400;
            }

            .skills {
                @apply uppercase text-sm text-gray-400;
                @apply dark:!text-zinc-600;

                span {
                    @apply float-left mr-2 text-4xl;
                }
            }
        }

        .cucu {
            @apply z-0 hidden;
            @apply md:block;
        }

        .e {
            @apply absolute z-0;
            @apply w-[900px] top-[-150px] left-[-100px];
            @apply md:w-[1000px] md:top-[-100px] left-[-240px];
        }
    }
}
</style>