---
import { Icon } from 'astro-icon/components';

type Item = {
    icon?: string;
    label: string;
    url: string;
}

interface Props {
	items: Item[];
}

const { items } = Astro.props;
---

<nav class="inline-nav">
    <ul class="flex">
        {items.map(item => (
            <li>
                <a href={item.url} class="link">
                    {item.icon && <Icon name={item.icon} />}
                    {item.icon && item.label && <span class="blank"></span>}
                    {item.label}
                </a>
            </li>
        ))}
    </ul>
</nav>

<style>
.inline-nav {
    li {
        @apply px-2 mx-2;
    }

    .link {
        font-family: var(--font-mono);
        @apply flex items-center;
        @apply font-medium hover:underline;
        @apply text-slate-700 hover:text-slate-900;
        @apply dark:!text-slate-300 dark:hover:!text-gray-100; /* FIX: remove ! importantn modifier */
    }

    .blank {
        @apply inline-block px-1;
    }
}
</style>