---
import SkillCard from "./SkillCard.astro";

const skills = [
    {
        title: "Backend",
        techs: [
            {
                name: "go",
                icon: "go",
                libraries: [
                    { name: "fiber", icon: "fiber" },
                ],
            },
            {
                name: "python",
                icon: "python",
                libraries: [
                    { name: "flask", icon: "flask" },
                    { name: "fastapi", icon: "fastapi" },
                    { name: "django", icon: "django" },
                ],
            },
            {
                name: "javascript",
                icon: "javascript",
                libraries: [
                    { name: "node", icon: "node" },
                    { name: "deno", icon: "deno" },
                    { name: "astro", icon: "astro" },
                    { name: "express", icon: "express" },
                ],
            },
            {
                name: "php",
                icon: "php",
                libraries: [
                    { name: "laravel", icon: "laravel" },
                ]
            },
        ],
    },
    {
        title: "Frontend",
        techs: [
            {
                name: "html",
                icon: "html5",
            },
            {
                name: "css",
                icon: "css",
                libraries: [
                    { name: "tailwind", icon: "tailwind" },
                    { name: "sass", icon: "sass" },
                ],
            },
            {
                name: "javascript",
                icon: "javascript",
                libraries: [
                    { name: "typescript", icon: "typescript" },
                    { name: "react", icon: "reactjs" },
                    { name: "vue", icon: "vue" },
                    { name: "nextjs", icon: "nextjs" },
                ],
            },
        ],
    },
    {
        title: "DB",
        techs: [
            {
                name: "Postgres",
                icon: "postgres",
            },
            {
                name: "MySQL",
                icon: "mysql",
            },
            {
                name: "MongoDB",
                icon: "mongodb",
            },
            {
                name: "Redis",
                icon: "redis",
            },
        ],
    },
    {
        title: "SRE",
        techs: [
            {
                name: "Docker",
                icon: "docker",
            },
            {
                name: "Kubernetes",
                icon: "kubernetes",
            },
            {
                name: "AWS",
                icon: "aws",
            },
        ],
    }
]
---

<div id="skills" class="skills">
    <h1>Habilidades</h1>

    <div class="container">
        <div class="grid">
            {skills.map(skill => (
                <div class="skill">
                    <SkillCard title={skill.title} techs={skill.techs} />
                </div>
            ))}
        </div>
    </div>
</div>

<style>
    .skills {
        @apply relative flex flex-col items-center py-16 border-b;
        @apply dark:border-zinc-700;

        h1 {
            font-family: var(--font-mono);
            @apply my-9 text-4xl font-medium text-center;
            @apply dark:!text-slate-100;
        }

        .container {
            @apply max-w-screen-md px-4 flex justify-center;
        }

        .grid {
            @apply grid-cols-1 gap-0;
            @apply md:grid-cols-2;
        }

        .skill {
            @apply border-b border-dashed;
            @apply dark:border-zinc-700;

            &:nth-child(odd) {
                @apply md:border-r;
            }

            &:nth-last-child(1) {
                @apply border-b-0;
            }

            &:nth-last-child(-n+2) {
                @apply md:border-b-0;
            }
        }
    }
</style>