---
import '@fontsource-variable/open-sans';
import '@fontsource-variable/jetbrains-mono';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import GA4 from '../components/GA4.astro';
import config from "../config";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
const ga4Id = config.ga4.id;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		{description && <meta name="description" content={description} />}
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<GA4 measurementId={ga4Id} />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
:root {
	--e-color: #f8fafc;
}

html {
	scroll-behavior: smooth;
}

body {
	@apply bg-white min-w-[320px];
	@apply dark:bg-zinc-950;
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
</style>
